body{
    margin:0;
}

.reset-wrapper{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#eef2ff,#ffffff,#f5f3ff);

    padding:30px;

}

.reset-card{

    width:100%;
    max-width:450px;

    background:#fff;

    border-radius:20px;

    padding:40px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 35px;
}

.logo-box {
  width: 60px;
  height: 60px;
  background: #4f46e5;
  color: white;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 40px;
  font-weight: 700;
}


h2{

    text-align:center;

    margin-bottom:10px;

    font-size:32px;

    color:#1f2937;

}

p{

    text-align:center;

    color:#6b7280;

    margin-bottom:30px;

}

.form-group{

    margin-bottom:22px;

}

label{

    display:block;

    font-weight:600;

    margin-bottom:8px;

    color:#374151;

}

input{

    width:100%;

    padding:14px 16px;

    border:1px solid #d1d5db;

    border-radius:10px;

    outline:none;

    transition:.3s;

    font-size:15px;

    box-sizing:border-box;

}

input:focus{

    border-color:#4f46e5;

    box-shadow:0 0 0 4px rgba(79,70,229,.15);

}

button{

    width:100%;

    border:none;

    background:#4f46e5;

    color:#fff;

    padding:15px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

button:hover{

    background:#4338ca;

}

button:disabled{

    background:#9ca3af;

    cursor:not-allowed;

}

.success-snackbar{

    --mdc-snackbar-container-color:#16a34a !important;

    --mdc-snackbar-supporting-text-color:white !important;

}

.error-snackbar{

    --mdc-snackbar-container-color:#dc2626 !important;

    --mdc-snackbar-supporting-text-color:white !important;

}

.btn-primary{
    width:100%;
    background:#4f46e5;
    color:#fff;
    border:none;
    padding:14px;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-primary:hover{
    background:#4338ca;
}

.btn-primary:disabled{
    background:#9ca3af;
    cursor:not-allowed;
}

.divider{
    margin:25px 0;
    text-align:center;
    position:relative;
}

.divider::before{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#e5e7eb;
}

.divider span{
    background:#fff;
    padding:0 15px;
    position:relative;
    color:#6b7280;
}

.btn-outline{
    width:100%;
    padding:14px;
    border:2px solid #4f46e5;
    background:#fff;
    color:#4f46e5;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-outline:hover{
    background:#4f46e5;
    color:#fff;
}