
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">



<div class="forgot-page">

  <!-- Header -->
  <div class="header">

    <div class="logo">
      <div class="logo-box">
        📚
      </div>

      <span class="logo-text">
        LibraOne      </span>
    </div>

    <h1>Forgot Password</h1>

    <p class="subtitle">
      Enter your email address and we'll send you a link to reset your
      password
    </p>

  </div>

  <!-- Card -->
  <div class="card"  [class.success-mode]="success">

    <!-- SUCCESS SCREEN -->
<div *ngIf="success; else forgotForm">

  <div class="success-container">

    <div class="success-circle">

      <div class="success-icon">
        <i class="fa-solid fa-check"></i>
      </div>

    </div>

    <h2 class="success-title">
      Check Your Email
    </h2>

    <p class="success-message">
      We've sent a password reset link to
    </p>

    <h4 class="email">
      {{ email }}
    </h4>

    <p class="success-text">
      Please check your email and click on the link to reset your password.
      The link will expire in 24 hours.
    </p>

    <a
      routerLink="/login"
      class="success-btn">

      <i class="fa-solid fa-arrow-left"></i>

      Back to Login

    </a>

  </div>

</div>

    <!-- FORM -->
    <ng-template #forgotForm>

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()">

        <!-- Error -->
        <div
          *ngIf="error"
          class="error-alert">
          {{ error }}
        </div>

        <!-- Email -->
        <div class="field">

          <label>Email Address</label>

          <div class="input-wrapper">

            <span class="icon">
            <i class="fa-solid fa-envelope" style="color: rgb(3, 3, 3);"></i>
            </span>

            <input
              type="email"
              formControlName="email"
              placeholder="Enter your email address">
          </div>

          <small
            *ngIf="
              emailControl?.touched &&
              emailControl?.hasError('required')
            ">
            Email is required
          </small>

          <small
            *ngIf="
              emailControl?.touched &&
              emailControl?.hasError('email')
            ">
            Please enter a valid email address
          </small>

        </div>

        <!-- Submit -->
        <button
          type="submit"
          class="primary-btn"
          [disabled]="loading">

          {{ loading ? 'Sending Reset Link...' : 'Send Reset Link' }}

        </button>

        <!-- Login Link -->
     <div class="login-link">
  <a routerLink="/login" class="back-btn">
    <i class="fa-solid fa-circle-arrow-left"></i>
    <span>Back to Login</span>
  </a>
</div>

      </form>

    </ng-template>

  </div>

  <!-- Footer -->
  <div class="footer-text">

    Need help?

    <a routerLink="/contact">
      Contact Support
    </a>

  </div>

</div>